{% if use_async %}
    {% if logic %}
        <script>
            if ({{ logic }}) {
                document.write('<span data-docwrite="{{ block_name|escapejs }}">{{ loading_block_contents|default:""|safe|escapejs }}</span>');
            } else {
                document.write("{{ default_block_contents|escapejs }}");
            }
        </script>
    {% else %}
        <span data-docwrite="{{ block_name }}">{{ loading_block_contents|default:""|safe }}</span>
    {% endif %}
{% else %}
    <script>document.write((window.DOCWRITE && window.DOCWRITE["{{ block_name|escapejs }}"]) || "{{ default_block_contents|escapejs }}")</script>
{% endif %}
