
{# Insert top tag #}
<script>
    {% if logic %}
        if ({{ logic }}) {
    {% endif %}
    document.write('<scr'+'ipt src="{{ script_url|safe|escapejs }}?url='+encodeURIComponent(document.URL)+
        {% if block_names %}
            '&blocks={{ block_names|urlencode }}'+
        {% endif %}
        '"><'+'/'+'scr'+'ipt>');
    {% if logic %}
        }
    {% endif %}
</script>

{# Quick check for unusual results #}
<script>
    {% if logic %}
        if ({{ logic }}) {
    {% endif %}

    if (!window.DOCWRITE) {
        {# didn't load! #}
        console.error("Could not do docwrite")
    } else if (window.DOCWRITE_REDIRECT) {
        console.log("should do redirect", window.DOCWRITE_REDIRECT)
    }

    {% if use_async %}
        {# Need to now do async #}
        else {
            {% if async_use_jquery %}
                jQuery(document).ready(function () {
                    for (var key in window.DOCWRITE) {
                        var html = window.DOCWRITE[key];
                        $('[data-docwrite="'+key+'"]').html(html).fadeIn();
                    }
                });
            {% else %}
                (function () {
                    for (var key in window.DOCWRITE) {
                        var html = window.DOCWRITE[key], elements;
                        console.log("THIS IS HTML", html);
                        if (typeof jQuery === "undefined") {
                            var elements = document.querySelectorAll('[data-docwrite="'+key+'"]');
                            for (var i in elements) {
                                var element = elements[i];
                                element.innerHTML = html;
                            }
                        } else {
                            jQuery(document).ready(function () {
                                jQuery('[data-docwrite="'+key+'"]').replaceWith(html);
                            });
                        }
                    }
                })();
            {% endif %}
        }
    {% endif %}
    {% if logic %}
        }
    {% endif %}
</script>
